version: '3'
services:
  api:
    build:
      context: api
      dockerfile: Dockerfile
    ports:
      - "8015:8015"
    volumes:
      - ./api:/app
    environment:
      - HOST=0.0.0.0
      - PORT=8015
      - APP_CHANNEL=development
      - DATABASE_URL=postgres://shipituser:shipitpassword@db/shipitdb
      - AUTH_CLIENT_ID=todo
      - AUTH_CLIENT_SECRET=todo
      - AUTH_DOMAIN=auth.mozilla.auth0.com
      - SECRET_KEY_BASE64=bm90YXNlY3JldA== # notasecret
      - TASKCLUSTER_CLIENT_ID
      - TASKCLUSTER_ACCESS_TOKEN
      - TASKCLUSTER_ROOT_URL=https://firefox-ci-tc.services.mozilla.com
      - GITHUB_TOKEN
      - GITHUB_SKIP_PRIVATE_REPOS=1
      - XPI_MANIFEST_OWNER=escapewindow
      - XPI_MANIFEST_REPO=test-xpi-manifest
      - LOG_FORMAT=plain
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-fk", "https://localhost:8015/__heartbeat__"]
      interval: 10s
      timeout: 5s
      retries: 5

  public:
    build:
      context: api
      dockerfile: Dockerfile.public
    ports:
      - "8016:8016"
    volumes:
      - ./api:/app
    environment:
      - HOST=0.0.0.0
      - PORT=8016
      - APP_CHANNEL=development
      - DATABASE_URL=postgres://shipituserreadonly:shipitpasswordreadonly@db/shipitdb
      - LOG_FORMAT=plain
    depends_on:
      - db
      - api

  db:
    image: postgres:11
    volumes:
      - dbstore:/var/lib/postgresql/data
      - ./api/docker.d/postgres_create_readonly_user.sh:/docker-entrypoint-initdb.d/postgres_create_readonly_user.sh
    environment:
      - POSTGRES_USER=shipituser
      - POSTGRES_PASSWORD=shipitpassword
      - POSTGRES_DB=shipitdb
    healthcheck:
      test: ["CMD-SHELL", "-c", "pg_isready -U shipituser -d shipitdb"]
      interval: 10s
      timeout: 5s
      retries: 5

  ui:
    # SSL doesn't work with node:current
    image: node:10
    ports:
      - "8010:8010"
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    environment:
      - HOST=0.0.0.0
      - PORT=8010
      - SHIPIT_API_URL=https://localhost:8015
      - SHIPIT_PUBLIC_API_URL=https://localhost:8016
      - RELEASE_CHANNEL=development
      - FRONTEND_TASKCLUSTER_ROOT_URL=https://firefox-ci-tc.services.mozilla.com
    entrypoint:
      - /bin/bash
      - --login
      - -c
      - cd /app && yarn install && yarn start

# TODO: worker, maybe pulse?

volumes:
  dbstore:
  node_modules:
