---
trust-domain: releng

task-priority: high

taskgraph:
    register: shipit_taskgraph:register
    decision-parameters: 'shipit_taskgraph.parameters:get_decision_parameters'
    repositories:
        shipit:
            name: "Shipit"
            project-regex: shipit$
            default-repository: https://github.com/mozilla-releng/shipit
            default-ref: master
            type: git

workers:
    aliases:
        images:
            provisioner: releng-{level}
            implementation: docker-worker
            os: linux
            worker-type: 'linux-docker'
        t-linux:
            provisioner: releng-t
            implementation: docker-worker
            os: linux
            worker-type: 'linux-docker'
        b-linux:
            provisioner: releng-{level}
            implementation: docker-worker
            os: linux
            worker-type: 'linux-docker'
deploy:
    dev:
        frontend-bucket: "relengstatic-staging-shipitfrontend-static-website"
        frontend-taskcluster-root-url: "https://firefox-ci-tc.services.mozilla.com"
        shipit-public-api-url: "https://public-dev.shipitapi.nonprod.cloudops.mozgcp.net"
        shipit-api-url: "https://api.shipit.staging.mozilla-releng.net"
        secret: project/releng/shipit/deploy
    production:
        frontend-bucket: "relengstatic-prod-shipitfrontend-static-website"
        frontend-taskcluster-root-url: "https://firefox-ci-tc.services.mozilla.com"
        shipit-public-api-url: "https://shipitapi-public.services.mozilla.com"
        shipit-api-url: "https://shipit-api.mozilla-releng.net"
        secret: project/releng/shipit/deploy
